<h1>Adicionar Contato</h1>
<form action="/save" method="post">
    <input type="text" name="nome" placeholder="Nome">
    <input type="email" name="email" placeholder="Email">
    <input type="text" name="telefone" placeholder="Telefone">
    <button type="submit">Adicionar</button>
</form>