<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/styles.css">
    </html><script src="bootstrap/js/bootstrap.min.js"></script>
    <title>Lista de Contatos</title>
</head>
<body>
    <div class="container mt-4">

        {{{body}}}
    </div>
</body>

